<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>this is the to do List</h1>
    </div>
    <div class="box" id="heading">
        <p style=" height: 5rem;color: #fff;">Developed by Mayank Singh Negi</p>

    </div>


    <%- include('footer'); -%>